.levelOne{
	-fx-background-image: url("file:/C:/Users/Stian/Pictures/PokemonGame/GrassforTowns.png"); //"file:/C:/Users/Stian/Pictures/PokemonGame/GrassforTowns.png"
}
.startMenu{
	//-fx-background-image: #e6e6fa;
	-fx-padding: 20;
	-fx-spacing: 20;
}
.startMenuButton{
	
	-fx-font: 16px "Consolas";
	
}

.home{
	-fx-background-image: url("file:/C:/Users/Stian/Pictures/PokemonGame/woodenFloor.png");
}
.textbox{
	-fx-font: 18px "Consolas";
	-fx-font-color: #9acd32;
	-fx-spacing: 15;
	-fx-padding: 20;
	-fx-font-fill: #9acd32;
}